.table-container {
  overflow: auto;
  width: 100%;
  margin-top: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 209, 178, 0.15);
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #1e1e1e;
  color: #f5f5f5;
}

th, td {
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid #333;
}

th {
  background-color: #2a2a2a;
  font-weight: bold;
  color: #00d1b2;
}

tr:hover {
  background-color: #2c2c2c;
}

crypto-table th,
.crypto-table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}

.crypto-logo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 8px;
  object-fit: contain;
}

.positive {
  color: #4caf50;
  font-weight: 600;
}

.negative {
  color: #f44336;
  font-weight: 600;
}

@media (max-width: 768px) {
  .crypto-table th, 
  .crypto-table td {
    padding: 8px;
    font-size: 12px;
  }
  .chart-img{
    width: 80px;
    height: 30px;
  }
  .crypto-logo {
    width: 20px;
    height: 20px;
  } 
}
/*
.search-bar {
  width: 100%;
  max-width: 400px;
  padding: 10px 14px;
  font-size: 1rem;
  margin: 1rem auto 2rem auto;
  display: block;
  border: 1px solid #555;
  border-radius: 8px;
  background-color: #1f1f1f;
  color: #f5f5f5;
}*/

/*reaponsiveness*/


